VITE_SUPABASE_URL=https://nrnwsgdiexssvlhxekty.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ybndzZ2RpZXhzc3ZsaHhla3R5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MjI2NjUsImV4cCI6MjA4OTM5ODY2NX0.dslRj6VQwqM4DlgB5PgWY08L_Rg3_Hk90xumn9xuwaE

