# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Data
*.json
*.csv

# IDE
.vscode/
.idea/

# Docker
postgres_data/

# Airflow
airflow/logs/
airflow/plugins/

# DBT
dbt/target/
dbt/logs/
dbt/.user.yml